<!DOCTYPE html>
<html>
<head>
    <title>Files</title>
</head>

<body>

<h1>Uploaded Files</h1>

<ul>
<% files.forEach(file => { %>

<li>

    <a 
      href="<%= file.url %>" 
      target="_blank"
    >
      <%= file.filename %>
    </a>

    <form
      action="/api/delete/<%= file.filename %>"
      method="POST"
      style="display:inline;"
    >
      <button>Delete</button>
    </form>

</li>

<% }) %>
</ul>
<a href="/">
    Back
</a>

</body>
</html>